################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings.user
*.csproj.user
*.crunchsolution.cache
*.ncrunchproject
*.ncrunchsolution.user
*.ncrunchsolution
*.suo
/src/packages
/src/SoundBoard/obj
/src/SoundBoard.Tests/obj
/src/SoundBoard/bin
/src/SoundBoard.Tests/bin
