################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.crunchsolution.cache
*.csproj.user
*.DotSettings.user
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user
*.suo
/src/packages
/src/SoundBoard.Tests/bin
/src/SoundBoard.Tests/obj
/src/SoundBoard/bin
/src/SoundBoard/obj
